#navBarWrapper {
	opacity: 0;
}
.navButton {
	opacity: 0;
}
#centerContainer {
	position: absolute;
	transform: translate(0, -50%);
	width: 100%;
	height: 300px;
	top: 50%;
	background-color: var(--primary-color);
	box-shadow: 0px 0px 32px var(--darkest);
	opacity: 0;
}
.welcomeText {
	color: var(--darkest);
	font-size: 10em;
	margin: 0;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	opacity: 0;
}
@keyframes growBar {
	0% {
		opacity: 1;
		width: 0;
		left: 50%;
		transform: translate(-50%);
	}
	100% {
		opacity: 1;
		width: 100%;
		left: 50%;
		transform: translate(-50%);
	}
}
@keyframes growMain {
	0% {
		opacity: 1;
		width: 0;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	100% {
		opacity: 1;
		width: 100%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}