:root {
	--lightest: #FED8B1;
	--primary-color: #ECB176;
	--secondary-color: #A67B5B;
	--darkest: #6F4E37;
}
@font-face {
	font-family: Jomhuria;
	src: url(Assets/Fonts/Jomhuria-Regular.ttf);
}
@font-face {
	font-family: Imprima;
	src: url(Assets/Fonts/Imprima-Regular.ttf);
}
.defaultText {
	font-family: Jomhuria;
	text-align: center;
}
.paragraphText {
	font-family: Imprima;
	font-size: 1.5em;
	color: var(--darkest);
	text-align: center;
	margin: 0;
	margin-bottom: 32px;
}
* {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
html {
	min-height: 100%;
	background-color: var(--lightest);
}
body {
	margin: 0;
}
h1 {
	font-size: 10em;
	color: var(--darkest);
	letter-spacing: 5px;
	font-weight: normal;
	margin: 10px;
	margin-top: 30px;
}
h2 {
	width: 100%;
	font-size: 4em;
	color: var(--darkest);
	font-weight: normal;
	margin: 0px;
}
a {
	text-decoration: none;
}
#navBarWrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: relative;
	top: 32px;
	background-color: var(--primary-color);
	border-style: solid none;
	border-width: 10px;
	border-color: var(--secondary-color);
	box-shadow: 0px 0px 30px var(--darkest);
}
.navButton {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 32px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: var(--secondary-color);
	border: 2px solid var(--darkest);
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px, 2px 2px 8px rgba(0,0,0,0.4);
	
}
.navButton:hover {
	background-color: #C88757;
	cursor: pointer;
}
.navButton:active {
	background-color: #CB8A5A;
	box-shadow: inset 0px 0px 8px, 2px 2px 8px rgba(0,0,0,0.4);
}
#buttonText {
	color: var(--lightest);
	font-size: 72px;
	height: 59px;
	display: flex;
}